<!DOCTYPE html>
<html lang="en">
<%- include('fragment/header.ejs')%>
<body>
	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
		</tr>
		<% for(let i=0; i<products.length; i++) { %>
			<tr>
				<td>
					<input type="checkbox" name="prodId" value="<%= products[i].id %>">
				</td>
				<td><%= products[i].name %></td>
				<td><%= products[i].price %></td>
				<td><%= products[i].description %></td>
			</tr>
		<% } %>
		<tr>
			<input type="button" id="addToCard" value="Add to Card">
		</tr>
		<tr>
			<a href="/shoppingCard" id="count">Card(<%= count %>)</a>
		</tr>
	</table>
</body>
</html>